<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Donate for 2019-nCoV</title>
  <link rel="icon" href="favicons/favicon.ico">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container">
    <h1 class="font-weight-bold">Donation Successful! <sup></sup></h1>

    <p>Thank you for your donation! Please check your information at the end of the following table. If you are experiencing any issue, feel free to contact 2220056@ncpachina.org for support. 感谢您的捐款！ 请检查您在下表末尾的信息。 如果您遇到任何问题，请随时联系2220056@ncpachina.org以获得支持。</p>

    <hr>

      <table class="mb-4 mt-3 table-responsive-md table-hover" style="min-width: 100%;">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Timestamp</th>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Grade</th>
            <th class="text-center">Payment Method</th>
            <th class="text-center">Amount Donated</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < dataList.length; i++) { %>
            <tr>
              <td><%= dataList[i].serial %></td>
              <td><%= dataList[i].timeStamp %></td>
              <td><%= dataList[i].displayName %></td>
              <td><%= dataList[i].displayEmail %></td>
              <td><%= dataList[i].displayGrade %></td>
              <td><%= dataList[i].displayPaymentMethod %></td>
              <td><%= "¥" + dataList[i].donationAmount %></td>
            </tr>
          <% } %>
        </tbody>
      </table>


    <a class="btn btn-lg btn-primary mt-0 mb-0 px-5" href="..">Back</a>

  </div>
  <!-- JQuery -->
  <!-- <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script> -->
  <!-- Bootstrap tooltips -->
  <!-- <script type="text/javascript" src="/js/popper.min.js"></script> -->
  <!-- Bootstrap core JavaScript -->
  <!-- <script type="text/javascript" src="/js/bootstrap.js"></script> -->
  <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
  <!-- <script src="/js/main.js"></script> -->
</body>
</html>